telegram_token = "YOUR_BOT_TOKEN"
chat_id = 123456789 # Your chat ID
schedule = "5 7 * * *"

default_messages = [
    "Доброе утро мои чуваки! Как насчёт чашечки кофе или чая?",
    "Если бы акулы пили чай по утрам, то они пили бы его like this lor like that? :thinking_face:",
    """
К О Ф Е Ч А Й
Й К О Ф Е Ч А
А Й К О Ф Е Ч
Ч А Й К О Ф Е
Е Ч А Й К О Ф
Ф Е Ч А Й К О
""",
]

# Messages for specific days
[day_messages]
monday = "" # No special message for Monday
tuesday = "Сегодня вторник! А значит это день кружочков!!!!!!!!11111"
wednesday = "На календаре среда. Предлагаю обсудить что вы там слушали музыкального за эту неделю"
thursday = "" # No special message for Thursday
friday = "Оппа! А сегодня пятница. Если записываете кружочек то подкладывайте на фон музончик какой-нибудь"

weekend_days = [6, 0] # Saturday and Sunday (0 = Sunday, 6 = Saturday)
